@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.image__wrapper {
  position: relative;
  width: 25%;
  min-height: 350px;
  overflow: hidden;
  padding: 0 15px;
  margin-bottom: 30px;
}

.img {
  display: block;
  min-height: 100%;
  width: 100%;
  border: 5px solid #494949;
  border-radius: 50%;
  -webkit-transition: 0.4s linear transform;
  -o-transition: 0.4s linear transform;
  transition: 0.4s linear transform;
}

.img:hover {
  border-color: #e9e505;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.img:hover.img--redline {
  border-color: #c82424;
}

.minimized {
  width: 300px;
  cursor: pointer;
  border: 5px solid dimgray;
}

/* увеличенная картинка */
#magnify {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  max-width: 600px;
  height: auto;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */
#overlay {
  display: none;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
  position: absolute;
  right: -35px;
  top: -35px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

#close-popup:before, #close-popup:after {
  content: ' ';
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: white;
}

#close-popup:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#close-popup:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#close-popup:hover {
  opacity: 1;
}

@-webkit-keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#close-popup:hover {
  -webkit-animation: rota 4s infinite normal;
          animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.score,
.data {
  margin-bottom: 15px;
}

/* Media */
@media (max-width: 1170px) {
  .block__item {
    width: 50%;
    min-height: 500px;
  }
}

@media (max-width: 770px) {
  .block__item {
    width: 100%;
    min-height: 670px;
  }
}
